*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppings', sans-serif;
}



#create1 {
  background-color: white;
  
}

#body_inicio{
  
  background-image: url(../Fotos/imagen_inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
}

body{
    justify-content: center;
    align-items: center;
}



h1{
    color: rgb(255, 255, 255);
    background-color: black;
  }
  
  a{
    color: rgb(255, 255, 255);
  }
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(12, 30, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .logo{
    font-size: 2em;
    color: white;
    user-select: none;
  }
  
  .fondo1{
    background: no-repeat center center fixed;
    background-size: cover;
  }
  
  .navigation a { 
      position: relative;
      font-size: 1.1em;
      color: white;
      text-decoration: none;
      font-weight: 500;
      margin-left: 40px;
  }
  
  .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: white;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  .navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  .campo {
    text-align: right;
  }
  
  .fila-boton {
    text-align: right;
    padding-top: 1rem;
  }
  
  .error {
    border-color: red;
  }
  
  tr {
    padding-bottom: 10px !important;
  }
  

  #createForm {
    background-color: #006647;
    border: solid 2px #00512a;
    border-radius: 5px;
    width: 350px;
    padding: 0.7rem;
  }
  
  footer {
    /* Estilos del footer */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 0, 0);
  }

  #bodycontacto{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #006647; 
  }
  
  
  .contact_form{	
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #075519; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #033b06; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center; 	
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px; 	
    margin-bottom: 20px; 
    margin-top: 10px; 	
    text-transform: uppercase;
    background-color:  #033b06; 
    border-color:  #033b06; 
    border-style: solid; 
    border-radius: 10px;	
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #35ff61; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #00ee9f;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  .v111_33 {
    width: 100%;
    height: 137px;
    background: linear-gradient(rgba(67,151,91,1), rgba(0,37,10,0.4300000071525574));
    opacity: 1;
    position: absolute;
    top: 679px;
    left: 0px;
    overflow: hidden;
  }
  .v111_34 {
    width: 54px;
    height: 54px;
    background: url("../images/v111_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 21px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v111_35 {
    width: 217px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 47px;
    left: 105px;
    font-family: Poppins;
    font-weight: ExtraBold Italic;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v111_36 {
    width: 847px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 79px;
    left: 105px;
    font-family: Jost;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v111_38 {
    width: 401px;
    color: rgba(255,255,255,0.699999988079071);
    position: absolute;
    top: 24px;
    left: 903px;
    font-family: Jost;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v111_39 {
    width: 482px;
    height: 53px;
    background: url("../images/reada.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 856px;
    overflow: hidden;
  }
  .v111_40 {
    width: 48px;
    height: 48px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 67px;
  }
  .v111_41 {
    width: 60px;
    height: 63px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 301px;
    overflow: hidden;
  }
  .v111_42 {
    width: 45px;
    height: 47px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 7px;
  }
  .v111_43 {
    width: 50px;
    height: 50px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 418px;
    overflow: hidden;
  }
  .v111_44 {
    width: 50px;
    height: 40px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 1px;
  }
  .v111_45 {
    width: 50px;
    height: 49px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 183px;
  }

  